@model List<Treinamento.Web.Models.Aluno>
@using Europa.Resources

@* Carrega o arquivo JavaScript principal da página *@
<script src="~/Scripts/projeto/exercicio/exercicio.js"></script>
<script>
    @* Recebe as URLs que executam os métodos (ações) do controller da página Home *@
    Europa.Controllers.Exercicio.UrlGetAluno = '@Url.Action("GetAluno", "Exercicio")';
    Europa.Controllers.Exercicio.UrlCadastrarAluno = '@Url.Action("CadastrarAluno", "Exercicio")'
    Europa.Controllers.Exercicio.UrlDetalhamento = '@Url.Action("Detalhamento", "Exercicio")'
</script>

<div id="">
    <div class="">
        <h1>@GlobalMessages.TituloTelaExercicio</h1>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-success m-1 col-md-1" onclick="AbrirModal()"><i class="fa fa-plus" aria-hidden="true"></i> Incluir</button>
    </div>
    <div class="col-md-24">
        <form class="">
            <div class="col-sm-6 col-md-12">
                <div class="row m-0" id="listaAluno">
                    <table class="table table-striped table-bordered border-dark border-3">
                        <thead>
                            <tr>
                                <th scope="col">@GlobalMessages.TelaPrincipalAcoes</th>
                                <th scope="col">@GlobalMessages.NomeTelaPrincipal</th>
                                <th scope="col">@GlobalMessages.MatriculaTelaPrincipal</th>
                                <th scope="col">@GlobalMessages.SituaçãoTelaPrincipal</th>
                                <th scope="col">@GlobalMessages.CpfTelaPrincipal</th>
                                <th scope="col">@GlobalMessages.NomeMaeTelaPrincipal</th>
                                <th scope="col">@GlobalMessages.CursoTelaPrincipal</th>
                                <th scope="col">@GlobalMessages.DataNascimentoTelaPrincipal</th>
                                <th scope="col">@GlobalMessages.ObservacoesTelaPrincipal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                                {
                                    <tr>
                                        <td scope="row" value="" class="text-center">
                                            <a href='http://localhost/treinamento-web/Exercicio/PaginaDetalhamento?id=@item.Id' target="_blank" onclick="PaginaDetalhamento('@item.Id')">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>@Html.DisplayFor(ModelItem => item.Nome)</td>
                                        <td>@Html.DisplayFor(ModelItem => item.Matricula)</td>
                                        <td>@Html.DisplayFor(ModelItem => item.Situacao)</td>
                                        <td>@Html.DisplayFor(ModelItem => item.CPFaluno)</td>
                                        <td>@Html.DisplayFor(ModelItem => item.NomeMae)</td>
                                        <td>@Html.DisplayFor(ModelItem => item.Curso)</td>
                                        <td>@item.DataNascimento.ToString("dd/MM/yyyy")</td>
                                        <td>@Html.DisplayFor(ModelItem => item.Observacoes)</td>
                                    </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
@*ModalIncluir    ModalINCLUIR*@

<div class="modal " tabindex="-1" role="dialog" id="meuModal">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@GlobalMessages.TituloModal</h5>
                <button type="button" class="btn-close" aria-label="Close" data-dismiss="modal" onclick="fecharModal()">
                </button>
            </div>
            <div class="row modal-body m-0">
                <div class="row col-3 m-0 p-0">
                    <label class="p-0">@GlobalMessages.NomeModalInput</label>
                    <input id="nomeModal" class="align-content-center" />
                </div>
                <div class="row col-3 m-0">
                    <label class="p-0">@GlobalMessages.MatriculaModalInput</label>
                    <input id="matriculaModal" />
                </div>
                <div class="row col-3 m-0">
                    <label class="p-0">@GlobalMessages.SituacaoModalInput</label>
                    <select class="form-select col-3" aria-label="Default select example" id="situacaoModal">
                        <option selected value="">Selecione</option>
                        <option value="@TreinamentoWeb.Enum.SituacaoTipo.Ativo">Ativo</option>
                        <option value="@TreinamentoWeb.Enum.SituacaoTipo.Suspenso">Suspenso</option>
                        <option value="@TreinamentoWeb.Enum.SituacaoTipo.Cancelado">Cancelado</option>
                    </select>
                </div>
                <div class="row col-3 m-0 p-0">
                    <label class="p-0">@GlobalMessages.CpfModalInput</label>
                    <input id="cpfModal" onkeypress="$(this).mask('000.000.000-00');" />

                </div>
                <div class="col-4 row m-0 p-0">
                    <label class="p-0">@GlobalMessages.NomeMaeModalInput</label>
                    <input id="nomeMaeModal" />
                </div>
                <div class="col-4 row m-0">
                    <label class="p-0">@GlobalMessages.CursoModalInput</label>
                    <select class="form-select" aria-label="Default select example" id="cursoModal">
                        <option selected value="">Selecione</option>
                        <option value="@TreinamentoWeb.Enum.CursoTipo.Matematica">Java</option>
                        <option value="@TreinamentoWeb.Enum.CursoTipo.Fisica">Javascript</option>
                        <option value="@TreinamentoWeb.Enum.CursoTipo.Biologia">Csharp</option>
                        <option value="@TreinamentoWeb.Enum.CursoTipo.Historia">Php</option>
                        <option value="@TreinamentoWeb.Enum.CursoTipo.Geografia">Delphi</option>
                    </select>
                </div>
                <div class="col-4 row m-0 p-0">
                    <label class="p-0">@GlobalMessages.NascimentoModalInput</label>
                    <input id="dataNascimentoModal" onkeypress="$(this).mask('00/00/0000')" />
                </div>
                <div class="col-12 row p-0 m-0">
                    <label class="p-0">@GlobalMessages.ObservacoesModalInput</label>
                    <textarea id="obsModal" class=""></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="salvarModal btn btn-primary" onclick="SalvarModal()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
                <button type="button" class="fecharModal btn btn-danger" data-dismiss="modal" onclick="fecharModal()"><i class="fa fa-ban" aria-hidden="true"></i> Desistir</button>
            </div>
        </div>
    </div>
</div>

