
@model Treinamento.Web.Models.Aluno
@using Europa.Resources


<script src="~/Scripts/projeto/exercicio/exercicio.js"></script>

<form class="" id="">
    <div class="row m-0">
        <h1 class="bg-light">@GlobalMessages.TituloTelaDetalhamento</h1>
    </div>
    <div class="row m-0">
        <div class="col-md-4">
            @Html.Label(GlobalMessages.NomeInputTelaDetalhamento)
            @Html.TextBoxFor(x => x.Nome, null, new { @class = "form-control", @id = "nome", disabled = "disabled", style = "width: 100%;" })
        </div>
        <div class="col-md-2">
            @Html.Label(GlobalMessages.MatriculaInputTelaDetalhamento)
            @Html.TextBoxFor(x => x.Matricula, null, new { @class = "form-control", @id = "matricula", disabled = "disabled" })
        </div>
        <div class="col-md-2">
            @Html.Label(GlobalMessages.SituaçãoInputTelaDetalhamento)
            @Html.TextBoxFor(x => x.Situacao, null, new { @class = "form-control", @id = "situacao", disabled = "disabled" })
        </div>
        <div class="col-md-4">
            @Html.Label(GlobalMessages.CpfInputTelaDetalhamento)
            @Html.TextBoxFor(x => x.CPFaluno, null, new { @class = "form-control", @id = "cpf", disabled = "disabled", style = "width: 100%;", @onkeypress = "$(this).mask('000.000.000-00');" })
        </div>
    </div>
    <div class="row m-0">
        <div class="col-md-4">
            @Html.Label(GlobalMessages.NomeMaeInputTelaDetalhamento)
            @Html.TextBoxFor(x => x.NomeMae, null, new { @class = "form-control", @id = "nomeMae", disabled = "disabled" })
        </div>
        <div class="col-md-5">
            @Html.Label(GlobalMessages.CursoInputTelaDetalhamento)
            @Html.TextBoxFor(x => x.Curso, null, new { @class = "form-control", @id = "curso", disabled = "disabled" })
        </div>
        <div class="col-md-3">
            @Html.Label(GlobalMessages.DataNascimentoInputTelaDetalhamento)
            @Html.TextBoxFor(x => x.DataNascimento, null, new { @class = "form-control", @id = "dataNascimento", @disabled = "disabled", @onkeypress = "$(this).mask('00/00/0000');" })
        </div>
    </div>
    <div class="row m-0">
        <div class="">
            @Html.Label(GlobalMessages.ObservaçõesInputTelaDetalhamento)
            @Html.TextAreaFor(x => x.Observacoes, new { @class = "form-control", @id = "observacoes", @disabled = "disabled", style = "width: 100%;" })
        </div>
    </div>
</form>